@tailwind components;
@layer components {
  .textLinks a {
    @apply text-main-blue font-medium text-lg pb-1;
  }
}
.BlogLink:hover .icons {
  transform: translateY(-25%);
}
@keyframes img_line_ani {

}

.hoverUnderLine {
  overflow: hidden;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/portfolio/text_lines/green_white.svg");
}
