@tailwind components;
@layer components {
      .tagContainer{
            @apply space-x-2 
      }
      .tag{
        @apply  font-semibold text-sm py-2 px-4 rounded-xl;
      }
      .controllerContainer{
            @apply space-y-2 flex space-x-2 flex-row justify-center sm:flex-col items-end mt-3
      }
      .controllerContainer div{
            @apply rounded-full w-10 h-10 border-4  transition-colors grid place-content-center cursor-pointer ;
      }
      /* .controllerContainer div svg{
            @apply text-main-blue hover:text-main-blue-hover;
      } */
     
      .imageWrapper img{
            @apply rounded-xl
      }
      
      
     
    

      
}



