@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./scroller.css);

/* ####################
portfolio style:
################ */
.img_line {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/portfolio/text_lines/green_white.svg");
}
/* .img_line_white_green {
  background-image: url("/portfolio/text_lines/green_white.svg");
}
.img_line_move {
  background-image: url("/portfolio/text_lines/move.svg");
}
.img_line_orange {
  background-image: url("/portfolio/text_lines/orange.svg");
} */

html {
  scroll-behavior: smooth;
}
body{}

.container {
  max-width: 1060px;
  margin: auto;
}
@layer components {
  .container {
    @apply px-4;
  }
  .bg-blue-with-hover {
    @apply bg-main-blue hover:bg-main-blue-hover transition-colors;
  }

  .center_with_grid {
    @apply grid items-center;
  }
  .center_with_flex {
    @apply flex justify-center items-center;
  }
}

h2,
h3 {
  scroll-margin-top: 80px;
}

/* Safari-only */

@supports (-webkit-hyphens: none) {
  h2,
  h3 {
    padding-top: 80px;
    margin-top: -80px;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* ############### */

a {
  color: grey;
  text-decoration: none;
}

li.active > a {
  color: white;
}

li > a:hover {
  color: white;
}




